<div class="container">
    <div class="row">

        {% for object in object_list %}
            <div class="col s6">
                <h5>{{ request.user.first_name }}
                    <small>
                        <a href="{% url 'tweets:update' object.pk %}"><i class="fa fa-pencil"
                                                                                aria-hidden="true"></i></a>
                    </small>
                    <small>
                        <a href="{% url 'tweets:delete' object.pk %}"><i class="fa fa-trash"
                                                                                aria-hidden="true"></i></a>
                    </small>
                </h5>
                {% if object.image %}

                    <div class="col s2">
                        <img class="responsive-img materialboxed" width="550" src="{{ object.image.url }}" alt="tweets">
                    </div>
                    <div class="col s10">
                    {{ object.content }}
                    </div>
                {% else %}
                <p>{{ object.content }}</p>
            {% endif %}


            </div>
        {% endfor %}

    </div>
</div>

